.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: #fff;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1em;
  color: #555;
  position: relative;
}
