.App {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 200vh;
    scroll-behavior: smooth;
    font-size: 5vw;
    box-sizing: border-box;
    width: 100wv;
   
    
}
.govno{
    background-image: url('./Carousel/2017Animals___Birds_Little_bird_kingfisher_on_a_branch_in_the_rain_115409_.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 400px;
    background-attachment: fixed;
}
.hover:hover{
    color:red;
}
/* body {
  background: #fff;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1em;
  color: #555;
  position: relative;
  height: 100vh;
  scroll-behavior: smooth;
} */

.forinput {
    margin-top: 400px;
    max-width: 800px;
}
.inputWithChoiceWrapper {
    position: relative;
    top: 0px;
    right: 300px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .App {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .App {
        font-size: 1.1111111111111112vw;
    }
}
@media screen and (min-width: 1441px) {
    .App {
        font-size: 16px;
    }
}
.post__title-interest {
    width: 100%;
    margin-bottom: -25px;
    position: relative;
    top: 20px;
    z-index: 1;
}
.bold-string .ticker {
    font-size: 13.25em;
    letter-spacing: normal;
    font-weight: 500;
    line-height: 1.3;
}
.ticker {
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.ticker span {
    font-size: 36px;
    margin-right: 0.3125em;
    display: inline-block;
    animation: moveSpan 6s linear 0.3s infinite;
}

@keyframes moveSpan {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
