@import "i-theme", "i-media";

.socials-menu {
  position: relative;

  margin-bottom: 40px;
  padding: 0 13px;
}

/* .socials-menu_mobile {
  margin: 20px auto 18px;

  height: 90px;

  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
} */

/* .socials-menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 264px;
  margin: 0 auto;
} */

/* .socials-menu__list_mobile {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;

  height: 90px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
} */

/* .socials-menu__item_mobile {
  margin-right: 10px;

  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
} */

.socials-menu__item:not(:last-child) {
  margin-right: 10px;
}

.socials-menu__link {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px !important;
    height: 30px;
  margin-right: 0;

  border: none;
  border-radius: 50%;

  background-color: transparent;

  /*  &:hover {
    .socials-menu__icon {
      fill: map-get($color, aquamarineTheme);
    }
  } */
}
.social_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: none !important;

    margin: 0 auto;
    max-width: 264px;
  
  svg {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
.socials-menu__icon {
    overflow: hidden;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: none !important;
    vertical-align: bottom;

  
  width: 100%;
  height: 100%;

  transition: fill ease-out 0.2s;

  fill: #fff;
  

}

.fb-icon {
  width: 8px;
  height: 19px;
}

.vk-icon {
  width: 23px;
  height: 16px;
}

.tw-icon {
  width: 19px;
  height: 16px;
}

.ok-icon {
  width: 13px;
  height: 22px;
}

.telegram-icon {
  width: 24px;
  height: 19px;
}

.instagram-icon {
  width: 22px;
  height: 23px;
}

.pinterest-icon {
  width: 23px;
  height: 23px;
}

.viber-icon {
  width: 26px;
  height: 26px;
}

.zen-icon {
  width: 24px;
  height: 24px;

  fill: #ffffff;
}

.zen_error-icon {
  width: 24px;
  height: 24px;
}

.zen_grey-icon {
  width: 24px;
  height: 24px;
}

/* @include media-s {
  .socials-menu__popup-icon {
    fill: #222222;
  }

  .zen-icon {
    fill: #ffffff;
  }

  .socials-menu_main {
    margin: 0 auto;

    width: 315px;
  }

  .socials-menu__item_main:nth-child(1) {
    margin-bottom: 10px;
  }

  .socials-menu__item_main:nth-child(5n + 5) {
    margin-right: 0;
  }
}
 */
@media (min-width: 768px) {
  .socials-menu {
    margin-bottom: 35px;
  }
  .social_grid {
    justify-content: center;
    max-width: 100%;
    .socials-menu__link {
      margin-right: 48px;
    }
  }
}
/* .soci {
  border: none;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  width: 30px !important;
  height: 30px;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
  svg {
    width: 100%;
    height: 100%;
  }
} */
@media (min-width: 1024px) {
  .socials-menu {
    width: 100%;
  }
  .social_grid {
    width: 100%;
    justify-content: center;
    max-width: 100%;

    .socials-menu__link {
      width: 30px;
      height: 30px;
      margin-right: 50px;

      border-radius: 100%;
      
    }
  }
}
